<h2>返信詳細</h2>

<table>
  <tr>
    <td>
      <% @users.each do |user| %>
       <% if user.profile_image.present? %>
        <%= image_tag user.profile_image,size:"100x100" %>
       <% end %>
    </td>
        <td><%= user.name %></td>
        <td><%= user.age %></td>
        <td><%= user.gender %></td>
      <% end %>
  </tr>
  <tr>
     <td><%= @comment.comment %></td>
      <td><button><%= link_to "削除",  admins_movie_review_comment_path(movie_id: @movie, review_id: @review, comment_id: @comment), method: :delete, data: { confirm: '本当に消しますか？' } %></button></td>
  </tr>
</table>
