<div class="container" style="margin-top: 50px;">
  <div class="shadow p-3 mb-5 bg-white rounded">
  <div class="row">
    <div class="col-md-4" style="text-align: left;">
　　　<table class="table">
      <h2 class="p-3 mb-2 bg-dark text-white">投稿詳細</h2>
      <tr>
       <% if @review.user.profile_image.present? %>
        <%= image_tag @review.user.profile_image,size:"250x250" %>
       <% end %>
      </tr>
      </table>
    </div>
    <div class="col-md-4"style="margin-top: 150px;">
    <table class="table">
      <tbody>
       
        <tr><td>ユーザーネーム</td><td>:<%= @review.user.name %></td></tr>
        <tr><td>年齢</td><td>:<%= @review.user.age %></td></tr>
        <tr><td>性別</td><td>:<%= @review.user.gender %></td></tr>
    </table>
    </div>
    
    <div class="col-md-4"style="margin-top: 150px;">
      <table class="table">
        <tr><td>レビュータイトル</td><td><%= @review.title %></td></tr>
        <tr><td>本文</td><td><%= @review.review %></td></tr>
      <br>
      </table>
    </div>
        <td><%= link_to "返信欄へ",admins_movie_review_comments_path(movie_id: @movie, review_id: @review) %></td>
        <td><button><%= link_to "削除", admins_movie_review_path(@review), method: :delete, data: { confirm: '本当に消しますか？' } %></button></td>
     </tbody>
  </div>
  </div>
</div>