<%= notice %>
<p>プロフィール</p>
<table>
  <tr>
    <th>プロフィール画像</th>
    <td><%#= image_tag @user.get_profile_image, size:'100x100' %></td>
      <% if @user.profile_image.attached? %>
    <p>投稿ユーザー画像：<%= image_tag @user.profile_image, size:"200x200"%>
      <% else %>
        <%= image_tag 'no_image.jpg', size: "200x200" %>
      <% end %>
    </p>
  </tr>
  <tr>
    <th>ユーザーネーム</th>
    <td><%= @user.name %></td>
  </tr>
  <tr>
    <th>性別</th>
    <td><%= @user.gender %></td>
  </tr>
  <tr>
    <th>年代</th>
    <td><%= @user.age %></td>
  </tr>
  <tr>
    <th>メールアドレス</th>
    <td><%= @user.email %></td>
  </tr>
  <tr>
   <td><%= user.reviews.average(:score) %></td>
  </tr>
</table>
<%= link_to "編集する", edit_users_user_path(current_user) %>



