<div class="container">
  <div class="row">
    <div class="col-md-2" style="margin-top: 50px; text-align: center;"> <button type="button" class="btn btn-dark w-100 btn-lg">ジャンル検索</button>
      <% @genres.each do |genre| %>
        <div>
          <%= link_to genre.genre_name, users_genre_path(genre.id),class: "btn btn-outline-dark w-100" %>
        </div>
        <% end %>
          <div>
            <!--<検索機能>-->
            <%= render  "homes/index" %>
          </div>
           <div><%= render "admins/movies/index",tag_list:@tag_list,movies:@movies %></div>
    </div>
    <div>
      <h3>貴方が気になった作品を探してみましょう！</h3>
    </div>
    <div class="col-md-10">
      <h4 class="border-bottom">作品一覧<span style="font-size:20px;">(全<span style="font-size:25px;"><%= @movies.count %></span>件)</span>
      </h4>
      <div class="row">
        <% @movies.each do |movie| %>
        <div class = "col-6">
           <div class="row">
              <div class="col-lg-6">
                <% if movie.image.attached? %>
                  <%= image_tag movie.image,size: "250x250" %>
                <% else %>
                  <%= image_tag 'movie.png', size: "200x200" %>
                 <% end %>
              </div>
                <div class = "col-6">
                  <p>
                    <%= link_to movie.filmname, users_movie_path(movie) %>
                  </p>
                  <p>
                    <%= movie.genre.genre_name %>
                  </p>
                </div>
           </div>
        </div>
       <% end %>
      </div>
    </div>
    <div class="col-md-6 offset-md-3">
      <div class="pagination" style="justify-content: center; margin-top: 30px;">
        <p>
          <%= paginate @movies %>
        </p>
      </div>
    </div>
  </div>
</div>

