<div class="container" style="margin-top: 50px;">
  <div class="col-md-8 offset-md-2">

      <div class="shadow p-3 mb-5 bg-white rounded">
        <h2 class="p-3 mb-2 bg-dark text-white">レビュー一覧</h2>
        <h1 class="text-right">
          <div>作品名:<%= @movie.filmname %></div>
          <%= link_to "＋新規追加",new_users_movie_review_path(@movie.id), class: "btn btn-dark rounded-pill" %>
        </h1>
        <p id="notice"></p>
        <table class="table table-hover">
          <tr class="table-secondary">
            <th>タイトル</th>
            <th>ユーザーネーム</th>
            <th>年代</th>
            <th>性別</th>
            <th>いいね数</th>

          </tr>
          <!--スコア計算表示-->
          <%#= @review_score %>
          <% @reviews.each do |review| %>
            <tr class="table-borderless" data-href="<%= users_movie_review_path(@movie, review) %>">
              <td>
                <%= review.title %>
              </td>
              <td><%= review.user.name %></td>
              <td><%= review.user.age %></td>
              <td><%= review.user.gender %></td>
              <!--いいね機能-->
                <td id = "like_<%= review.id %>">
                  <%= render partial: "users/review_favorites/favorite", locals: { movie: @movie, review: review } %>
                </td>
            </tr>
        <% end %>
        <!--<★評価機能>-->
          <script>
            ('#star-all-rate<%#= post.id%>').raty({
              size      : 36,
              starOff   : '<%#= asset_path('star-off.png') %>',
              starOn    : '<%#= asset_path('star-on.png') %>',
              starHalf  : '<%#= asset_path('star-half.png') %>',
              readOnly: true,
              score: <%#= post.all_rate %>,
            });
          </script>
        </table>
      </div>
      <ul class="pagination justify-content-center">
        <p>
          <%= paginate @reviews %>
        </p>
      </ul>
  </div>
</div>

<script>
  $('tr[data-href]').click(function () {
     window.location = $(this).attr('data-href');
  });
</script>