<div class="container" style="margin-top: 50px;">
  <div class="col-md-8 offset-md-2"> <%#.offset-md-1 は .col-md-9 を 1 カラムぶん右に移動%>
   <div class="shadow p-3 mb-5 bg-white rounded">

 
    <h2 class="p-3 mb-2 bg-dark text-white">レビュー一覧</h2>
  <h1 class="text-right">
    <%= link_to "＋新規追加",new_users_review_path, class: "btn btn-dark rounded-pill" %>
  </h1>
  
      <p id="notice"></p>
      <table class="table table-hover">
        <tr class="table-secondary">
          <th>ユーザーネーム</th>
            <th>年代</th>
            <th>性別</th>
            <th>タイトル</th>
        </tr>
          <% @reviews.each do |review| %>
            <tr class="table-borderless">
               <td>
                <%= link_to users_review_path(post.id) do %>
                 <% if post.main_images.attached? %>
                <% post.main_images.each do |main_image| %>
                 <%= image_tag main_image.variant(resize_to_limit: [100, 100]) %>
             <% end %>
            <% end %>
          <% end %>
        </td>
              <td><%= user.name %></td>
              <td><%= user.age %></td>
              <td><%= user.age %></td>
              <td><%= review.title %></td>
              <td></td>
            
      <script>
        $('#star-all-rate<%= post.id%>').raty({
          size      : 36,
          starOff   : '<%= asset_path('star-off.png') %>',
          starOn    : '<%= asset_path('star-on.png') %>',
          starHalf  : '<%= asset_path('star-half.png') %>',
          readOnly: true,
          score: <%= post.all_rate %>,
        });
      </script>
      
    </tr>
    <% end %>
      </table>
     </div>
    <ul class="pagination justify-content-center">
     <p><%= paginate @reviews %></p>
    </ul>
  </div>
</div> 
