<h2>投稿詳細</h2>

<table>
  <tr>
    <td>
      <%# @users.each do |user| %>
       <% if @review.user.profile_image.present? %>
        <%= image_tag @review.user.profile_image,size:"100x100" %>
       <% end %>
    </td>
        <td><%= @review.user.name %></td>
        <td><%= @review.user.age %></td>
        <td><%= @review.user.gender %></td>
  </tr>
  <tr>
     <td><%= @review.title %></td>
     <td><%= @review.review %></td>
     <td><%= link_to "返信欄へ",users_movie_review_comments_path(movie_id: @movie, review_id: @review) %></td>
     <td><%= link_to "返信する", new_users_movie_review_comment_path(movie_id: @movie, review_id: @review) %></td>
    <% if @review.user.id == current_user.id %>
      <td><button><%= link_to "編集", edit_users_movie_review_path(movie_id: @movie, review_id: @review) %></button></td>
      <td><button><%= link_to "削除", users_movie_review_path(movie_id: @movie, review_id: @review), method: :delete, data: { confirm: '本当に消しますか？' } %></button></td>
    <% end %>
  </tr>
</table>


