<div class="container" style="margin-top: 50px;">
  <div class="shadow p-3 mb-5 bg-white rounded">
  <div class="row">
    <div class="col-md-4" style="text-align: left;">
　　　<table class="table">
      <h2 class="p-3 mb-2 bg-dark text-white">投稿詳細</h2>
      <tr>
       <% if @review.user.profile_image.present? %>
        <%= image_tag @review.user.profile_image,size:"250x250" %>
       <% end %>
    </tr>
      <div class="review-comment">
      </div>
      </table>
    </div>
       <div class="col-md-4"style="margin-top: 150px;">
    <table class="table">
      <tbody>
       <tr><td>ユーザーネーム</td><td>:<%= @review.user.name %></td></tr>
        <tr><td>年齢</td><td>:<%= @review.user.age %></td></tr>
        <tr><td>性別</td><td>:<%= @review.user.gender %></td></tr>
    </table>
    </div>
   <div class="col-md-4"style="margin-top: 150px;">
      <table class="table">
        <tr><td>レビュータイトル</td><td><%= @review.title %></td></tr>
        <tr><td>本文</td><td><%= @review.review %></td></tr>
      </table>
    </div>
    <!--いいね機能-->
    <div id = "like_<%= @review.id %>">
      <%= render partial: "users/review_favorites/favorite", locals: { movie: @movie, review: @review } %>
    </div>
    <!--評価機能-->
     <div class="relative-review-evaluation">
      <span>評価：</span>
      <span id="star-rate-<%= @review.id %>"></span>
      <script>
        $('#star-rate-<%= @review.id %>').raty({
          size: 36,
          starOff: "<%= asset_path('star-off.png') %>",
          starOn: "<%= asset_path('star-on.png') %>",
          starHalf: "<%= asset_path('star-half.png') %>",
          half: true,
          readOnly: true,
          score: <%= @review.star %>,
        });
      </script>
       
     </div>
     <td><%= link_to "返信欄へ",users_movie_review_comments_path(movie_id: @movie, review_id: @review) %></td>
     <td><%= link_to "返信する", new_users_movie_review_comment_path(movie_id: @movie, review_id: @review) %></td>
    <% if @review.written_by?(current_user) %>
      <td><button><%= link_to "編集", edit_users_movie_review_path(movie_id: @movie, review_id: @review) %></button></td>
      <td><button><%= link_to "削除", users_movie_review_path(movie_id: @movie, review_id: @review), method: :delete, data: { confirm: '本当に消しますか？' } %></button></td>
    <% end %>
    </div>
      </div>
    </div>

