<!--ジャンル絞り込み結果-->

    <div class="col-md-10">
      <h4 class="border-bottom">絞り込み結果<span style="font-size:20px;">(全<span style="font-size:25px;"><%= @movies.count %></span>件)</span>
      </h4>
      <div class="row">
        <% @movies.each do |movie| %>
        <div class = "col-6">
           <div class="row">
              <div class="col-lg-6">
                <% if movie.image.attached? %>
                  <%= image_tag movie.image,size: "250x250" %>
                <% else %>
                  <%= image_tag 'movie.png', size: "200x200" %>
                 <% end %>
              </div>
                <div class = "col-6">
                  <p>
                    <%= link_to movie.filmname, users_movie_path(movie) %>
                  </p>
                  <p>
                    <%= movie.genre.genre_name %>
                  </p>
                </div>
           </div>
        </div>
       <% end %>
      </div>
    </div>